/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
.column {
  display: inline-block;
  }

.column.small {
  width: 33%;
  margin-top: 5px;
}
.column.small-width {
  width: 33%;
  padding-bottom: 25px;
  padding-left: 20px;
}
.column.medium {
  width: 66.3%;
}

.small.text-align {
  vertical-align: text-top;
}
